<%title "Edit Topic" %>

<%content_for :sidebar do%>
  <%=render partial: "shared/navmanage"%>
<%end%>

<h1>Edit Topic</h1>
<%= render 'form' %>
<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>