<footer class="container align-center">
  <hr class="margintop-p">
  <nav class="element-center" role="navigation">
    <small>
      <ul class="nav nav-pills margin-reset" role="menubar">
        <%=render 'shared/pages'%>
        <li><a class="reView fuckinglightgray" href="<%=root_path%>">Switch View</a></li>
      </ul><br/>
      <% if user_signed_in? %>
      <div class="muted marginbot-p">
        <span class="salmon">Administrator</span> on <abbr class="initialism">ol-verethragna</abbr> v1.0.0
      </div>
      <%end%>
    </small>
  </nav><!--element-center-->
</footer>
