<li><%=link_to('<i class="icon-dashboard"></i>'.html_safe, manage_path)%></li>
<li><%=link_to('<i class="icon-user"></i>'.html_safe, staff_path)%></li>
<li><%=link_to('<i class="icon-plus-sign"></i>'.html_safe, create_item_path)%></li>
