<%- title "Welcome" %>
<%content_for :fbog do%>
<%= tag :meta, property: "og:description", content: "" %>
<%end%>

<p>picture here behind text</p>
<h2>1099 ways to learn</h2>
<h3>Free, online lectures for the Singapore Syllabus</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices congue convallis. Curabitur tellus felis, viverra a pharetra a, scelerisque a mi. Etiam viverra dui sed nibh condimentum sit amet mattis risus aliquet. Nulla eu sem arcu, non consequat dui.</p>
<hr>
<div class="row-fluid">
  <div class="span4">
    <h5>Newest Lectures</h5>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#">Tequila</a></li>
      <li><a href="#">Vodka</a></li>
      <li><a href="#">Jagermeister</a></li>
    </ul>
  </div><!--span4-->
  <div class="span4">
    <h5>Hot and Trending</h5>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#">Linan and the Mad Hatter</a></li>
      <li><a href="#">Gary and the Zhang Family</a></li>
      <li><a href="#">Pas de boire du vin</a></li>
    </ul>
  </div><!--span4-->
  <div class="span4">
    <h5>Announcements</h5>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#">Party today</a></li>
      <li><a href="#">Party tomorrow</a></li>
      <li><a href="#">Party next Friday</a></li>
    </ul>
  </div><!--span4-->
</div><!--row-->