<%- title "Welcome" %>
<%content_for :fbog do%>
<%= tag :meta, property: "og:description", content: "" %>
<%end%>

<div class="aligncenter">
<h1>
  <%= render 'shared/logo' %><br/>
</h1>
</div><!--aligncenter-->

