<%- title "Opportunities" %>
<%content_for :fbog do%>
  <%= tag :meta, property: "og:description", content: "" %>
<%end%>

<%content_for :header do%>
	<svg version="1.1" id="Header_x26_Timeline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="204.55px" height="307.937px" viewBox="-52.628 -104.5 204.55 307.937"
	 enable-background="new -52.628 -104.5 204.55 307.937" xml:space="preserve">
	<polygon fill="#333333" points="142.505,54.903 151.922,11.243 -52.628,11.243 -43.209,54.903 0.759,54.903 8.497,181.449
		-18.077,181.449 -18.077,203.437 117.37,203.437 117.37,181.449 90.793,181.449 98.53,54.903 "/>
	<path fill="#333333" d="M49.637-104.5c19.52,0,35.325,15.819,35.325,35.327c0,19.499-15.805,35.312-35.325,35.312
		c-19.504,0-35.303-15.813-35.303-35.312C14.334-88.684,30.133-104.5,49.637-104.5"/>
	<path fill="#333333" d="M78.488-36.948c-7.654,6.864-17.771,11.053-28.851,11.053c-11.068,0-21.178-4.189-28.833-11.053
		C0.237-26.017-13.891-22.622-14.046,3.091h127.385C113.181-22.622,99.062-26.023,78.488-36.948z"/>
	</svg>
<%end%>

<%content_for :slogan do%>
  We can't pay you, but we can give you<br/>
  <span class="salmon">the experience of a lifetime</span>
<%end%>

<%content_for :description do%>
  It's never about what you have to do. When you join us, we ask you what you feel you can do for us. Lecturing's just one small part of the equation. You can help us spread the word, or make people look good. What are you waiting for?
<%end%>

<hr>

  <h3>Administrative Staff</h3>
  <ul class="nav nav-pills aligncenter">
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Octopus</p>
      </a>
    </li>
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Special Projects</p>
      </a>
    </li>
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Galactic Ambassador</p>
      </a>
    </li>
  </ul>
  <hr>
  <h3>Content Producers</h3>
  <ul class="nav nav-pills aligncenter">
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Cookie Monster</p>
      </a>
    </li>
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Slide Ninja</p>
      </a>
    </li>
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Post-proc</p>
      </a>
    </li>
  </ul>
  <hr>
  <h3>Web and Tech</h3>
  <ul class="nav nav-pills aligncenter">
  <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Code Monkey</p>
      </a>
    </li>
<li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Magic Unicorn</p>
      </a>
    </li>
  </ul>
