<%- title "Opportunities" %>
<%content_for :fbog do%>
  <%= tag :meta, property: "og:description", content: "" %>
<%end%>

<%=image_tag "work.jpg", :class => "img-rounded top-square"%>
<h1>We can't pay you, but we can give you <span class="salmon">the experience of a lifetime</span></h1>
<p>It's never about what you have to do. When you join us, we ask you what you feel you can do for us. Lecturing's just one small part of the equation. You can help us spread the word, or make people look good. What are you waiting for?</p>
<hr>
  <h3>Administrative Staff</h3>
  <ul class="nav nav-pills aligncenter">
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Octopus</p>
      </a>
    </li>
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Special Projects</p>
      </a>
    </li>
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Galactic Ambassador</p>
      </a>
    </li>
  </ul>
  <hr>
  <h3>Content Producers</h3>
  <ul class="nav nav-pills aligncenter">
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Cookie Monster</p>
      </a>
    </li>
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Slide Ninja</p>
      </a>
    </li>
    <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Post-proc</p>
      </a>
    </li>
  </ul>
  <hr>
  <h3>Web and Tech</h3>
  <ul class="nav nav-pills aligncenter">
  <li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Code Monkey</p>
      </a>
    </li>
<li>
      <a href="#">
      <h1><i class="icon-asterisk"></i></h1>
      <p>Magic Unicorn</p>
      </a>
    </li>
  </ul>