<%- title "openquestions" %>
<%content_for :header do%>
  <%=image_tag 'questions.png'%>
<%end%>
<%content_for :slogan do%>
  The next big thing:<br/>
  <span class="salmon">We want to help.</span>
<%end%>
<%content_for :description do%>
  openlectures presents openquestions, a quick and simple service for you to ask academic questions anonymously. If you've ever needed a quick explanation, or wanted some help but felt shy to ask, we're here for you.
<%end%>
<hr>
<h5 class="text-center" style="margin:0"><a href="http://facebook.com/openquestion/" target="_blank">View Answers</a></h5>
<hr>
<div class="accordion" role="tab">
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#biology">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Biology</h5>
      </a>
    </div><!--accordionheading-->
    <div id="biology" class="accordion-body collapse">
      <div class="accordion-inner">
      <iframe seamless src="https://docs.google.com/forms/d/1UtMLMLQXcvEdlO9Go4IqZsFj0-ZAp-cLbvzG_36ygv8/viewform?embedded=true&amp;bc=transparent" width="100%" height="400px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
</div><!--accordion-->
<div class="accordion" role="tab">
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#chemistry">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Chemistry</h5>
      </a>
    </div><!--accordionheading-->
    <div id="chemistry" class="accordion-body collapse">
      <div class="accordion-inner">
      <iframe seamless src="https://docs.google.com/forms/d/1996FqACeyIo0inAfl4Ukp8RMqSK_1FFTQLMjiJd2P0Y/viewform?embedded=true&amp;bc=transparent" width="100%" height="400px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
</div><!--accordion-->
<div class="accordion" role="tab">
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#physics">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Physics</h5>
      </a>
    </div><!--accordionheading-->
    <div id="physics" class="accordion-body collapse">
      <div class="accordion-inner">
      <iframe seamless src="https://docs.google.com/forms/d/1DNMUvYfF8i_2aazFnsSF1VIteF4MOaF7sSEbf9n3-MQ/viewform?embedded=true&amp;bc=transparent" width="100%" height="400px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
</div><!--accordion-->
<div class="accordion" role="tab">
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#economics">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Economics</h5>
      </a>
    </div><!--accordionheading-->
    <div id="economics" class="accordion-body collapse">
      <div class="accordion-inner">
      <iframe seamless src="https://docs.google.com/forms/d/1bcC26lOp2JpIuLsY3snbQdPPyxGoG6qoUJ7uI393-4c/viewform?embedded=true&amp;bc=transparent" width="100%" height="400px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
</div><!--accordion-->
<div class="accordion" role="tab">
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#mathematics">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Mathematics</h5>
      </a>
    </div><!--accordionheading-->
    <div id="mathematics" class="accordion-body collapse">
      <div class="accordion-inner">
      <iframe seamless src="https://docs.google.com/forms/d/1G_ccpc04a_WmX5tFI_H8U6Qf5_42CdDN-rbJ-f6NR_M/viewform?embedded=true&amp;bc=transparent" width="100%" height="400px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
</div><!--accordion-->