<%- title "Partners" %>
<%content_for :fbog do%>
<%= tag :meta, property: "og:description", content: "" %>
<%end%>

<div class="aligncenter">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="397.96px" height="309.568px" viewBox="-148.329 -115.387 397.96 309.568"
	 enable-background="new -148.329 -115.387 397.96 309.568" xml:space="preserve" style="margin-top:2.827em;">
	<path fill="#333333" d="M82.752-45.243h25.094c2.414,1.146,23.672,16.082,27.271,18.473l0.082-18.625h-0.129
		c8.504-1.033,15.075-8.278,15.075-17.043v-35.745c-0.004-9.504-7.698-17.205-17.212-17.205H82.752
		c-9.51,0-17.205,7.701-17.205,17.205v35.741C65.547-52.952,73.254-45.243,82.752-45.243z M183.304-60.079
		c15.261,0,27.636,12.372,27.636,27.637c0,15.263-12.375,27.64-27.636,27.64c-15.263,0-27.637-12.372-27.637-27.64
		C155.667-47.707,168.041-60.079,183.304-60.079z M-90.298,116.787c0.529,0,1.034-0.098,1.549-0.163l-0.004,0.08l0.631,0.083H-90.298
		h-31.772l-9.497-91.085h-16.762l11.051,105.219v2.455v60.795h16.583v-60.79h55.277v60.798h16.58v-60.798v-16.714 M-42.658,50.73
		l-0.006-0.031 M-87.242,77.915c0,0.051-0.048,0.065-0.048,0.104 M-15.677,194.181V94.699h132.652v5.908
		c-3.482,0.716-6.505,2.659-8.495,5.456l-0.023-0.015l-46.971,66.323l0.024,0.015c-1.603,2.25-2.568,4.992-2.568,7.975
		c0,7.633,6.19,13.819,13.823,13.819c4.655,0,8.744-2.314,11.251-5.843l0.026,0.016l32.937-46.514v52.339h22.109v-69.123
		l11.053-1.683v10.011v60.797h16.583v-60.8h55.275v60.798h16.579v-60.798v-2.453l11.053-105.226H232.87l-9.495,91.095h-23.427
		c7.71,0,14.302-4.542,17.411-11.053c1.111-2.332,1.775-4.911,1.865-7.647V28.36c0-13.738-11.131-24.873-24.873-24.873
		c-10.477,0-19.393,6.494-23.062,15.667l-11.106,20.26h-37.683c-6.108,0-11.053,4.949-11.053,11.055
		c0,6.101,4.944,11.052,11.053,11.052h33.166h13.812h5.938l19.622-35.82h12.619l-25.685,46.87h-12.495v5.533
		c0,7.604-6.882,9.771-6.882,9.771l-23.509,6.583V72.571h-22.109H-15.677h-22.111 M-37.789,194.181h22.111V72.571h-22.111V194.181z
		 M-95.269-60.083c15.261,0,27.634,12.372,27.634,27.638c0,15.267-12.373,27.64-27.634,27.64s-27.633-12.373-27.633-27.64
		C-122.902-47.711-110.53-60.083-95.269-60.083z M139.088,72.571h-22.109H-15.677h-22.111v21.887l-23.506-6.583
		c0,0-6.88-2.167-6.88-9.771v-5.533h-12.497l-25.685-46.87h12.619l19.624,35.824h5.939h13.812h33.166
		c6.109,0,11.053-4.95,11.053-11.053c0-6.108-4.943-11.054-11.053-11.054h-37.682l-11.107-20.26
		C-73.655,9.986-82.57,3.488-93.048,3.488c-13.742,0-24.872,11.138-24.872,24.873v69.736c0.083,2.736,0.748,5.315,1.866,7.647
		c3.109,6.514,9.702,11.053,17.411,11.053h-23.427l-9.497-91.095h-16.762l11.051,105.226v2.453v60.798h16.579v-60.798h55.277v60.798
		h16.583v-60.798V123.37l11.05,1.686v69.123h22.111V141.84l32.935,46.514l0.03-0.016c2.506,3.528,6.593,5.843,11.249,5.843
		c7.633,0,13.826-6.187,13.826-13.819c0-2.982-0.963-5.725-2.571-7.975l0.024-0.015l-46.966-66.323l-0.025,0.015
		c-1.99-2.797-5.013-4.74-8.496-5.456v-5.908h132.652v99.481L139.088,72.571z M139.088,72.571h-22.109 M116.979,194.181h22.109
		 M31.589-54.714V-76.92c0-5.902-8.605-10.69-19.226-10.69h-56.076c-10.633,0-19.233,4.784-19.233,10.69v22.206
		c0,5.445,7.345,9.945,16.845,10.586h-0.144l0.083,11.571c4.024-1.485,27.778-10.765,30.477-11.472h28.043
		C22.977-44.028,31.589-48.816,31.589-54.714z"/>
	</svg>
<h1>
  We bring education to everyone.<br/>
  <span class="salmon">Help us achieve this dream.</span>
</h1>
</div><!--aligncenter-->
<h3 class="cmun">
  If there's a place for us in your organization's <abbr class="initialism" title="Corporate Social Responsibility">CSR</abbr> programme, or you'd just like to help, <a href='m&#97;&#105;lt&#111;&#58;%6&#56;e&#108;lo%40o%&#55;0&#37;6&#53;n&#108;&#101;c&#116;%&#55;5r&#101;%7&#51;&#46;&#111;rg'>we'd love to hear from you.</a></h3>
<hr>
<p><span class="helvetica"><strong>open</strong>lectures</span> is supported by the following organizations:</p>
<ul class="nav nav-pills nav-stacked">
  <li><a href="http://www.edb.gov.sg/content/edb/en.html?cmpid=edb_en38">EDB Singapore</a></li>
  <li><a href="http://www.northeastcdc.org.sg/">Northeast CDC</a></li>
  <li><a href="http://www.nyc.pa.gov.sg/">National Youth Council</a></li>
  <li><a href="http://www.scape.com.sg/">*Scape</a></li>
  <li><a href="http://www.sgtee.com/">SGTee.com</a></li>
</ul>
