<%- title "Press" %>
<%content_for :fbog do%>
  <%= tag :meta, property: "og:description", content: "" %>
<%end%>

<div class="aligncenter">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="392.926px" height="309px" viewBox="57.388 101.5 392.926 309" enable-background="new 57.388 101.5 392.926 309"
	 xml:space="preserve" style="margin-top:2.827em;">
	<path id="newspaper-icon" fill="#333333" d="M395.318,213.718H114.292v19.074h281.026V213.718L395.318,213.718z M199.013,249.404h-84.721v19.074h84.721V249.404z M199.013,285.646h-84.721v19.074h84.721V285.646z M395.318,249.404h-84.722v19.074h84.722V249.404L395.318,249.404z M395.318,285.646h-84.722v19.074h84.722V285.646L395.318,285.646z M395.318,321.885H114.292v19.074h281.026V321.885
		L395.318,321.885z M291.682,249.404h-74.707v55.315h74.707V249.404z M421.703,130.111v235.565H85.999V130.111H421.703
		 M450.314,101.5H57.388v309h392.926V101.5z M258.562,194.485l-9.992-42.09h10.949l5.214,29.164l5.84-29.164h10.672l5.168,28.624
		l5.396-28.624h10.467l-10.865,42.09h-10.832l-5.169-27.841l-5.897,27.841H258.562z M245.988,185.903h-16.906v-8.811h15.137v-8.522
		h-15.137v-7.59h16.051v-8.583h-26.343v42.09h27.198V185.903z M316.618,186.513c-3.254,0-7.027-0.938-10.096-2.511l-0.536-0.274
		l-2.125,8.63l0.32,0.177c2.233,1.234,6.905,2.562,11.888,2.562c12.605,0,17.077-7.128,17.077-13.232
		c0-5.901-3.492-9.942-10.988-12.713c-5.493-2.084-7.32-3.149-7.32-5.353c0-2.12,2.161-3.489,5.503-3.489
		c2.947,0,5.772,0.641,8.4,1.905l0.514,0.248l2.337-8.451l-0.375-0.169c-3.12-1.404-6.721-2.117-10.693-2.117
		c-9.595,0-16.039,5.171-16.039,12.866c0,5.675,3.907,9.914,11.607,12.594c4.917,1.762,6.579,3.112,6.579,5.349
		C322.673,185.062,320.465,186.513,316.618,186.513z M186.174,165.703l14.989,28.782h10.522v-42.09h-9.498v25.799l-13.892-25.799
		h-11.62v42.09h9.499V165.703z"/>
	</svg>
<h1>
  We can't pay you, but we can give you<br/>
  <span class="salmon">the experience of a lifetime</span>
</h1>
</div><!--aligncenter-->

<h3 class="cmun">
  It's never about what you have to do. When you join us, we ask you what you feel you can do for us. Lecturing's just one small part of the equation. You can help us spread the word, or make people look good. What are you waiting for?
</h3>
