<%- title "The Team" %>
<%content_for :fbog do%>
  <%= tag :meta, property: "og:description", content: "" %>
<%end%>

<div class="aligncenter">
  <h1>
    <i class="icon-video icon-fuckingbig"></i><br/>
    We believe that education should be<br/>
    <span class="salmon">free and accessible</span>
  </h1>
</div><!--aligncenter-->

<h3 class="cmun">
  openlectures provides free online lectures based on the Singapore syllabus. It was founded in 2011 by Linan Qiu, a student who strongly believed in making quality education free and accessible to every one.
</h3>
<p>Today, over a hundred staff and lecturers across the globe contribute their time and expertise to this effort. Everyone works for free, at nights, and on weekends, because we love what we do.</p>
