<%- title "The Team" %>
<%content_for :fbog do%>
  <%= tag :meta, property: "og:description", content: "" %>
<%end%>

<div class="aligncenter">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="271.515px" height="309px" viewBox="120.243 101.5 271.515 309" enable-background="new 120.243 101.5 271.515 309"
	 xml:space="preserve" style="margin-top:2.827em;">
	<path id="video-camera-7-icon" fill="#333333" d="M211.048,145.848c0-24.492-19.856-44.348-44.347-44.348
		c-24.493,0-44.347,19.855-44.347,44.348c0,24.49,19.854,44.345,44.347,44.345C191.192,190.192,211.048,170.338,211.048,145.848z
		 M275.673,210.067c7.483,0,14.667-1.291,21.351-3.653v61.852c0,13.691-11.1,24.792-24.793,24.792H169.483
		c-13.692,0-24.792-11.101-24.792-24.792v-62.087c6.868,2.516,14.283,3.889,22.013,3.889c22.953,0,43.128-12.106,54.484-30.265
		C232.547,197.96,252.722,210.067,275.673,210.067z M275.673,101.5c-24.492,0-44.347,19.855-44.347,44.348
		c0,24.49,19.855,44.345,44.347,44.345c24.491,0,44.347-19.854,44.347-44.345C320.02,121.355,300.165,101.5,275.673,101.5z
		 M391.758,175.798v117.259l-74.861-38.092v-40.412L391.758,175.798z M320.058,390.604L300.082,410.5l-66.068-66.067V410.5H205.99
		v-65.689L140.117,410.5l-19.874-19.757l78.313-78.286h43.258L320.058,390.604z"/>
	</svg>
  <h1>
    We believe that education should be<br/>
    <span class="salmon">free and accessible</span>
  </h1>
</div><!--aligncenter-->

<h3 class="cmun">
  openlectures provides free online lectures based on the Singapore syllabus. It was founded in 2011 by Linan Qiu, a student who strongly believed in making quality education free and accessible to every one.
</h3>
<p>Today, over a hundred staff and lecturers across the globe contribute their time and expertise to this effort. Everyone works for free, at nights, and on weekends, because we love what we do.</p>
