<div class="tab-pane active fade in" id="seab">
  <ul class="thumbnails">
  <%@subject.seab_topics.each do |topic|%>
    <%=content_tag_for :li, topic, :class=> "span4" do%>
      <h3><%=link_to topic.topic, display_topic_path(:id => topic.id), :remote => :true%></h3>
    <%end%>
  <%end%>
  </ul>
</div><!--tabpane-->

<%if user_signed_in?%>
  <%if current_user.role = "admin" || current_user.role = "lecturer"%>
    <%content_for :javascripts do%>
      <%=javascript_include_tag "jquery-ui-1.9.1.custom.min"%>
      <%=javascript_include_tag "sortable.js"%>
    <%end%>
  <%end%>
<%end%>
