<div class="tab-pane fade" id="subway">
<p>In this mode, lectures are arranged in the way you'd expect to view them while moving from one topic to another. Explore and play around!</p>
<img src="http://placehold.it/922x500&text=Subway+Map">
</div><!--tabpane-->
