@media (min-width: 768px) {
  html,
  body {
    height: 100%;
    overflow:hidden;
  }

  .container-fluid {
    min-height: 100%;
    height:100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.meny-arrow {
  position: absolute;
  z-index: 10;

  border: 10px solid transparent;

  -webkit-transition: opacity 0.4s ease 0.4s;
     -moz-transition: opacity 0.4s ease 0.4s;
      -ms-transition: opacity 0.4s ease 0.4s;
       -o-transition: opacity 0.4s ease 0.4s;
          transition: opacity 0.4s ease 0.4s;
}

.meny-arrow {
  left: 0.5em;
  top: 50%;
  margin-top:-3em;
}

.meny-active .meny-arrow {
  opacity: 0;

  -webkit-transition: opacity 0.2s ease;
     -moz-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
       -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}

.meny {
	display: none;
	overflow: auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

