@media (min-width: 768px) {
  html,
  body {
    height:100%;
    /*min-height: 100%;*/
    overflow: hidden;
  }

  .container-fluid {
    /*min-height: 100%;*/
    height:100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.meny {
	display: none;
	overflow: auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

